@model Drink;

@*Model được truyền từ index sang*@ 

    <div class="products">
        <h3 class="title">@Model.Name</h3>
        <img class="img" src="~/Img/@Model.Image" width="300" height="300">
        <div class="text">
            <div class="Description">@Model.Description</div>
            <span class="badge badge-pill badge-primary" style="float: right">
                <small>@Model.Price.ToString("c")</small>
            </span>
        </div>
        <form method="post" asp-page="/Cart" id="@Model.DrinkID">
            <input type="hidden" asp-for="DrinkID" />
            <input type="hidden" name="returnUrl"
                   value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text p-1">
                @Model.Description
                <button type="submit" class="btn btn-success btn-sm pull-right" style="float:right">
                    Add To Cart
                </button>
            </span>
        </form>
    </div>
